<div class="jumbotron">
    <h1>QUOTES</h1>
</div>
<div class="col-md-6 card" *ngFor='let quote of quotes;let i = index'>
    <hr>
    <div class="card-title">
        <p class="author">{{quote.author|uppercase}}</p>
        <div class="vote-buttons">
            <button (click)="upVote(quote)" class="btn-primary">Upvote</button>
            <p>Upvotes: {{quote.countUp}}</p>
            <button (click)="downVote(quote)" class="btn-warning">Downvote</button>
            <p>Downvotes: {{quote.countDown}}</p>
        </div>
        <button (click)='toggleDetails(i)' class="btn-info">Quote details</button>
        <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>