<div class="jumbotron">
    <h1>QUOTES</h1>
</div>
<div class="row body">
    <div class="col-md-5 card text-white bg-secondary mb-3"> 
        <div *ngFor='let quote of quotes;let i = index'>
            <hr>
            <div class="card-title">
                <p class="author">{{quote.author|uppercase}}</p>
                <div class="vote-buttons">
                    <button (click)="upVote(quote)" class="btn-primary">Upvote</button>
                    <p>Upvotes: {{quote.countUp}}</p>
                    <button (click)="downVote(quote)" class="btn-warning">Downvote</button>
                    <p>Downvotes: {{quote.countDown}}</p>
                </div>
                <button (click)='toggleDetails(i)' class="btn-info">Quote details</button>
                <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
            </div>
        </div>
    </div><br>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 upvotes">
        <button class="btn btn-secondary" *ngIf='quotes.length > 0' (click)='mostLikedQuote()'>Quote with most Upvotes</button>
        <div *ngIf='likedQuote && quotes.length > 0' appHighlightQuote>
            <h3>Most liked quote</h3>
            <p>Quote: {{likedQuote}}</p>
            <p>Author: {{likedAuthor}}</p>
            <p>Posted by {{likedPoster}}</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div><br><br><br><br>