.author {
    font-weight: bold;
    font-size: 25px;
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
.upvotes {
    text-align: center;
}
.body {
    margin: 30px;
}
.quotes {
    padding-left: 20px;
    text-align: left;
}
.quotename {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: black;
}